@media all and (max-width: 767px) {
	/**** grid styles ****/
	.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, 
	.w9, .w10, .w11, .w12, .w13, .w14, .w15, .w16 {float: none; margin: 0; display: block; width: 100%;}
	
	
	/* base styles */
	body {background: #fff none;}
	input[type="text"],
	input[type="password"],
	textarea,
	select {background: #F8F8F8; border: 1px solid #ccc; border-radius: 3px; padding: 3px 0; text-indent: 3px; width: 100%;}
	.disco-alert {margin: 2%;}
	
	/* Staging Specific Fixes */
	.staging-alert {display: none;}
	body {margin-top: 0 !important;}
	
	/* basically all the major headings */
	.body h1, 
	.body h2,
	#header #account #whtbar-right h2,
	.body #catalog-menu-head a {display: block; margin: 0; padding: 4%; width: 94%; background: #eee url("/images/mobile/mobile-sprite-20120502.png") repeat-x 0 -241px !important; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; border-radius: 0; color: #444; text-shadow: 0 0 0; font-size: 18px; float: none; text-align: left;}
	.body h2 {margin: 10px 0;}
	#header #account #whtbar-right h2,
	.body #catalog-menu-head a {margin: 0;}
	.body .header-bg {border: 0; background: #fff;}
	
	/* default navigation links */
	#header #account span.cart-info {display: none;}
	ul#catalog-menu li, 
	ul#catalog-menu-small li ul li,
	#header #account span, 
	#header #account span > span, 
	#category-page .category-list li,
	#help-page .attributes ul li,
	#promo-page #promo-menu li {display: block; width: 100%; float: none;}
	ul#catalog-menu li a, 
	ul#catalog-menu-small li ul li a,
	#header #account span a, 
	#header #account span > span, 
	#category-page .category-list li,
	#help-page .attributes ul li a,
	#promo-page #promo-menu li a {display: block; width: auto; float: none; margin: 0; padding: 4%; font-size: 13px; font-weight: 600; background: #fff url("/images/mobile/arrow.png") scroll no-repeat center right; border-bottom: 1px solid #ccc; color: #444 !important; height: auto; text-align: left; text-decoration: none;}
	#category-page .category-list li h4 a {font-size: 13px; font-weight: 600;}
	ul#catalog-menu li a:hover, 
	ul#catalog-menu-small li ul li a:hover,
	#header #account span a:hover,  
	#category-page .category-list li a:hover {background-color: #ccc; text-decoration: none;}
  #promo-menu li a,
  #promo-menu li a {background-position: center right !important;}
  #promo-menu li a:hover,
  #promo-menu li a.active {background-color: #eee !important;}
	
	button.submit,
	input.submit {-webkit-appearance: none; margin: 10px auto; padding: 10px; width: 100%; padding: 10px; background-image: none; text-align: center}
	
	.body #topbar, 
	.body #topbar-left, 
	.body #topbar-right {padding: 0; text-align: right; margin: 0; border: 0; background: #ccc none;}
	.body #breadcrumbs {width: 92%; padding: 2% 4%; background: #eee; border-bottom: 1px solid #ccc; overflow: hidden;}

	
	/* header, footer and global elements */
	.picompatiblewith,
	#footer .review {display: none;}
	#container .body,
	#container-nomenu .body {margin-top: 0;}
	#footer .footer-head,
	#footer .footer-links .footer-help,
	#footer .footer-links .footer-account,
	#footer .footer-links .footer-company,
	#footer .footer-links .footer-terms,
	#footer .footer-links .footer-contact strong, 
	#footer .footer-links .footer-contact ul li,
	#footer .business-links, 
	#quick-buy,
	a#feedback_tab,
	a#live-chat-button,
	#header #logo,
	#header #contact,
	#header #head-promo,
	#header .clearb,
	#header #account #whtbar-right #_ctl0_Siteheader1_lnkFavorites,
	#header #account #whtbar-right #ctl00_Siteheader1_lnkFavorites {display: none;}
	#container-nomenu #header, 
	#container-nomenu #wide-col,
	#container-nomenu .result-list,
	#container-nomenu .attributes,
	#container #header, 
	#container #wide-col,
	#container .result-list,
	#container .attributes, 
	#header #account {width: 100%; position: relative; float: none; right: auto; top: auto; margin: 0; padding: 0;}
	#header #account #whtbar-right {width: 100%; overflow: hidden; margin: 0; padding: 0; line-height: normal;}
	#header #account span {float: none; margin: 0; padding: 0;}
	#header #account #whtbar-right #loggedInOptionsSpan1 a:before,
    #header #account #whtbar-right #_ctl0_Siteheader1_lnkFavorites:before,
    #header #account #whtbar-right #ctl00_Siteheader1_lnkFavorites:before {content: "";}
    #header #account #whtbar-right #_ctl0_Siteheader1_lnkRegister:before,
    #header #account #whtbar-right #ctl00_Siteheader1_lnkRegister:before {content: "";}
	#footer {padding-bottom: 75px;}
	#footer .business-links {width: 100%;}
	#footer .global-copyright span {background: transparent url("/images/mobile/mobile-sprite-20120502.png") no-repeat scroll 0px -198px; float: none; margin: 8px auto 0;}
	#footer .global-copyright {display: block; float: none;}
	#footer .footer-links {margin-top: 30px; padding: 10px 0; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc;}
	#footer .footer-links .footer-contact ul {overflow: hidden;}
	#footer .footer-links .footer-contact ul li.vcard {display: block; float: left; width: 50%; margin: 0; text-align: center;}
	#footer .footer-links .footer-contact ul li.showroom {display: none;}
	#supp-nav {display: block !important; position: relative !important; top: 0; padding: 0; height: 42px;}
	#supp-nav h2 {position: absolute; top: 4px; left: 6px; z-index: 99;}
	#supp-nav h2 a {background: transparent url("/images/mobile/mobile-sprite-20120502.png") no-repeat scroll 0 0;}
	#supp-nav #supp-nav-container {margin: 5px;}
	#supp-nav #supp-search {position: absolute; top: 0; left: 0; width: 100%; padding: 0; z-index: 98;}
	#supp-nav #supp-search #suppSearchForm {position: relative; margin: 5px 55px 5px 90px; z-index: 98;}
	#supp-nav #supp-search input#suppSearchBox {-webkit-appearance: none; padding: 7px 0; text-indent: 7px; width: 100%; background-color: #fff;}
	#supp-nav #supp-search input#suppSearchBoxSubmit {background: transparent url("/images/mobile/mobile-sprite-20120502.png") no-repeat scroll -135px -110px;}
	#supp-nav #supp-account ul li:nth-of-type(1),
	#supp-nav #supp-account ul li:nth-of-type(2),
	#supp-nav #supp-account ul li:nth-of-type(3) {display: none;}
	#supp-nav #supp-account ul li:nth-of-type(4) a {position: absolute; top: 5px; right: -5px; z-index: 99; background: #000 url('/images/mobile/mobile-sprite-20120502.png') no-repeat 7px -99px; text-indent: -9999px; width: 30px; height: 30px; padding: 0 10px;}
	#footer .full-site {display: block;}
	
	.body #catalog-menu-head {width: 100%; background-image: none;}
	ul#catalog-menu {width: 100%;}
	ul#catalog-menu li,
	ul#catalog-menu-small li ul li {color: #444 !important; display: block; margin: 0;}
	ul#catalog-menu li a,
	ul#catalog-menu-small li ul li a {width: auto; display: block; font-size: 13px; font-weight: 600; background: #fff url("/images/mobile/arrow.png") scroll no-repeat center right; margin: 0; padding: 4%; border-bottom: 1px solid #ccc; color: #444 !important; height: auto;}
	ul#catalog-menu li a:hover,
	ul#catalog-menu-small li ul li a:hover,
	ul#catalog-menu li.hover a,
	ul#catalog-menu-small li ul li.hover a,
	.body .mini-promo a:hover {background: #ccc url("/images/mobile/arrow.png") scroll no-repeat center right;}
	ul#catalog-menu {padding: 0; background: none;}
	ul#catalog-menu li ul,
	ul#catalog-menu-small ul ul {visibility: hidden !important;}
	.body .mini-promo a,
	.body .mini-promo a#emailpromo {font-size: 13px; font-weight: 600; color: #444; padding: 10px; border-bottom: 1px solid #ccc; text-decoration: none; background: #eee none;}
	.body .mini-promo a span {font-weight: 900; color: #444;}
	.body .attribute-bar,
	.body .attribute-bar .attributes {background-color: #fff; border: 0;}
	.body .attribute-bar .attributes p.clearb {width: 95%; margin: 0 auto; text-align: center;}
	
	/* homepage */
	#default-page #mini-promos,
	#default-page #main-carousel, 
	#default-page #third-tier-promos,
	#default-page #secondary-promos div,
	#quick-buy,
	#print-promos {display: none;}
	
	#default-page #secondary-promos #shop-pi,
	#default-page #secondary-promos #shop-pi a {display: block; width: 100%; text-align: center;}
	#default-page #secondary-promos #shop-pi img {margin: 10px auto; width: 100%; max-width: 220px;}
	
	/* category */
	#category-page .attribute-bar,
	#category-page #mfr-bar,
	#category-page .seo-panel, 
	#category-page .catSubList,
	#category-page .mini-promo {display: none;} 
	#category-page .category-list li img {position: absolute; top: 20%; left: 2%; width: 8%;}
	#category-page .category-list {padding: 0;}
	#category-page .category-list li {position: relative; float: none; margin: 0; padding: 4% 0; border: 0; border-bottom: 1px solid #CCCCCC; width: 100%;}
	#category-page .category-list:nth-of-type(1) {padding: 0;}
	#category-page .category-list li div {width: 87%;}
	#category-page .category-list li h4 a span {font-size: inherit; font-weight: inherit; margin-left: 9%;}
	
	/* search and browse */
	#search-page, 
    #search-page, 
    #rasppiWrapper {background: #fff none;}
    #search-page .attribute-bar, 
    #search-page .info-bar:nth-of-type(1),
    #search-page .result-list thead,
    #search-page .result-list td.stocklevel,
    #search-page .result-list td.buy a, 
    #rasppiWrapper .attribute-bar, 
    #rasppiWrapper .info-bar:nth-of-type(1),
    #rasppiWrapper .result-list thead,
    #rasppiWrapper .result-list td.stocklevel,
    #rasppiWrapper .result-list td.buy a {display: none;}
    #search-page .pagination, 
    #rasppiWrapper .pagination {border-bottom: 1px solid #ccc;}
    #search-page .pagination a, 
    #rasppiWrapper .pagination a {display: inline-block; padding: 3px 7px 1px; margin: 3px 3px 0 0; border: 1px solid #ccc; background-color: #fff; text-decoration: none;}
    #search-page .result-list td.image, 
    #rasppiWrapper .result-list td.image {width: 60px;}
    #search-page .result-list tbody td.image div, 
    #rasppiWrapper .result-list tbody td.image div,
    #rasppiWrapper .intro img {width: 100%;}
    #search-page .result-list td.image a img, 
    #rasppiWrapper .result-list td.image a img {max-width: 60px; max-height: 60px; margin: 0 auto;}
    #search-page .result-list td.description p,
    #search-page .result-list td.description p b,
    #search-page .result-list td.buy div, 
    #rasppiWrapper .result-list td.description p,
    #rasppiWrapper .result-list td.description p b,
    #rasppiWrapper .result-list td.buy div {color: #6E6E6E;}
    #search-page .result-list tbody td.description p.title a, 
    #rasppiWrapper .result-list tbody td.description p.title a {font-weight: 600; text-decoration: none; color: #333; font-size: 12px;}
    #search-page .result-list tbody td.description p:not(.title), 
    #rasppiWrapper .result-list tbody td.description > div {display: none;}
    #search-page .result-list tbody td.description b, 
    #rasppiWrapper .result-list tbody td.description b {font-weight: 300;}
    #search-page .result-list td.buy .list-price, 
    #rasppiWrapper .result-list td.buy .list-price {font-weight: bold; font-size: 125%; color: #006C00;}
	
	/* product */
	#product-page2 .inactive h1,
	#product-page2 .inactive #breadcrumbs {background: none !important; border: 0;}
	#product-page2 .inactive .main-img, 
	#product-page2 .inactive .main-img table,
	#product-page2 .inactive .main-img td {width: 100%;}
	#product-page2 .inactive .main-img img {max-width: 100%; max-height: 100%;}
	#basket-page ul.homepage-promo {margin: 10px auto;}
	#product-page2 #mybuyspagezone1 {display: none;}
	
	/* no product page */
	#no-product-page #mybuyspagezone1 {display: none;}
	#no-product-page h2 {margin-left: -11px; margin-top: 10px; width: 101%; background: #fff none !important; border: 0;}
	
	/* basket */
	#basket-page #note_toggle,
	#basket-page #ctl00_ct1_lnkViewSavedCarts,
	#basket-page #_ctl0_ct1_lnkViewSavedCarts,
	#basket-page #ctl00_ct1_lnkSaveCart,
	#basket-page #_ctl0_ct1_lnkSaveCart,
	#basket-page td.stocklevel,
	#basket-page .result-list thead th:nth-of-type(3),
	#basket-page .result-list .description .fleft,
	#basket-page .result-list .description p:nth-of-type(2),
	#basket-page #source-code h2 a,
	#summary-page .result-list thead th:nth-of-type(3),
	#summary-page .result-list .description .fleft,
	#summary-page .result-list .description p:nth-of-type(2),
	#basket-page #topbar-right,
	#basket-page #mybuyspagezone1 {display: none !important;}
	#basket-page .result-list strong,
	#summary-page .result-list strong,
	#confirm-page .result-list strong {font-weight: 300;}
	#basket-page .wide-col {width: 100%;}
	#basket-page .innertube,
	#basket-page #mybuyspagezone1 {width: 100%; padding: 0; margin: 0;}
	#basket-page .result-list {width: 95%; margin: 5px auto;}
	#basket-page #source-code input,
	#basket-page #source-code input.submit {float: none; margin: 0 auto;}
	#basket-page #shipping-method,
	#basket-page #source-code {text-align: center;}
	#basket-page #applied-codes {text-align: left;}
	#basket-page #shipping-method div, 
	#basket-page #shipping-method select,
	#basket-page #source-code input,
	#basket-page #applied-codes {width: 90% !important; margin: 5px auto;}
	#basket-page > div > p {padding: 10px;}
	#basket-page .result-list .submit,
	#billing-page .table1 .submit {float: left; width: auto; margin-right: 5px; padding: 2px;}
	#billing-page .table1 .submit {float: right;}
	#basket-page .attributes {margin-bottom: 10px;}
	#basket-page .shipping-disclaimer,
	#shipping-page .shipping-disclaimer {width: 90%; padding: 0 5%;}
	
	/* shipping and billing */
	#order-details table,
	#shipping-page #logged-out p,
	#shipping-page #logged-out div div {width: 90% !important; margin: 5px auto;}
	#shipping-page .colorbox-iframe-small, 
	#billing-page .colorbox-iframe-small,
	#summary-page .colorbox-iframe-small,
	#shipping-page #topbar-right,
	#billing-page #topbar-right {display: none;}
	#shipping-page .table1 > tbody > tr > td {padding: 0;}
	#shipping-page input[type="text"], #shipping-page select, #shipping-page textarea,
	#billing-page input[type="text"], #billing-page select, #billing-page textarea,
	#summary-page input[type="text"], #summary-page select, #summary-page textarea {width: 100%;}
	#shipping-page span.faded,
	#billing-page span.faded,
	#summary-page span.faded {display: block;}
	#address-form table, 
	#address-form table thead, 
	#address-form table tbody, 
	#address-form table th, 
	#address-form table tr, 
	#address-form table td {display: block; overflow: hidden; width: 99% !important;}
	#address-form input[type="text"],
	#address-form select,
	#address-form textarea {width: 99% !important;} 
	#address-form .error input {width: 75% !important;}
	#address-form b {display: block; margin-top: 10px;}
	#address-form .same-address div                       {padding: 0; margin-bottom: 5px; background-color: transparent; border: 0;}
	#container-nomenu .body #address-form h2,
	#summary-page .innertube h2 {margin-left: -11px; margin-top: 10px; width: 101%;}
	#billing-page .innertube {padding: 0;}
	#billing-page .innertube > .heading {margin-top: 15px;}
	#billing-page .innertube > p,
	#billing-page .innertube > div {width: 95%; margin: 0 auto;}
	
	/* summary, confirm, track order and order history */
	#summary-page .innertube h2:nth-of-type(1),
	#confirm-page .innertube h2:nth-of-type(2), 
	#view-order-page .attribute-bar,
	#summary-page #topbar-right,
	#confirm-page #topbar-right {display: none;}
	#summary-page .innertube table:nth-of-type(1) tr,
	#summary-page .innertube table:nth-of-type(1) td,
	#confirm-page .innertube table:nth-of-type(1) tr,
	#confirm-page .innertube table:nth-of-type(1) td,
	#view-order-page .innertube table:nth-of-type(1) tr,
	#view-order-page .innertube table:nth-of-type(1) td,
	#summary-page #address-form #card-info,
	#summary-page #address-form .card-expiration,
	#summary-page #address-form .card-expiration select,
	#summary-page #address-form .card-cvv2 {display: block; margin-bottom: 5px; width: 100% !important; float: none;}
	#summary-page #address-form #ccbox {display: block; margin: 5px auto; float: none; position: relative; right: auto; top: auto;}
	#summary-page .innertube table:nth-of-type(1) td b,
	#summary-page .innertube table:nth-of-type(1) td label,
	#confirm-page .innertube table:nth-of-type(1) td b,
	#confirm-page .innertube table:nth-of-type(1) td label,
	#view-order-page .innertube table:nth-of-type(1) td b,
	#view-order-page .innertube table:nth-of-type(1) td label {display: block; border-bottom: 1px solid #ccc; padding: 5px 0;}
	#summary-page .result-list .pricing small,
	#confirm-page .result-list .pricing small,
	#view-order-page .result-list .pricing small {display: block;}
	#summary-page .result-list th,
	#confirm-page .result-list th,
	#summary-page .result-list td,
	#confirm-page .result-list td {font-weight: 300; padding: 3px;}
	#summary-page .result-list th:nth-of-type(3),
	#confirm-page .result-list th:nth-of-type(3) {text-indent: -9999px;}
	#summary-page .result-list td.description img,
	#confirm-page .result-list td.description img {display: none;}
	#summary-page .result-list td a,
	#confirm-page .result-list td a {text-decoration: none;}
	#confirm-page .innertube h2:nth-of-type(1) {background-color: transparent; border: 0;}
	#confirm-page .attributes ul,
	#confirm-page .attributes p {margin: 10px;}
	
	/* login, register, account and track my order */
	#login-page > div.fright.tleft.w5,
	#register-page .attribute-bar,
	#account-page .attribute-bar,
	#view-order-page #topbar,
	#account-page #topbar,
	#register-page #topbar-right,
	#account-page #order-history th:nth-of-type(3),
	#account-page #order-history td:nth-of-type(3),
	#account-page #order-history th:nth-of-type(5),
	#account-page #order-history td:nth-of-type(5),
	#account-page #order-history th:nth-of-type(6),
	#account-page #order-history td:nth-of-type(6),
	#account-page #reviews {display: none;}
	#account-page .innertube,
	#register-page .innertube {padding: 0;}
	#account-page .innertube > p,
	#account-page .innertube > div,
	#account-page .innertube > table,
	#register-page .innertube > p,
	#register-page .innertube > div,
	#register-page .innertube > table {width: 95%; margin: 0 auto;}
	#account-page label {line-height: 150%;}
	#account-page div.fleft, 
	#account-page div.fright {float: none;}
	#account-page div input,
	#account-page div select {width: 100% !important;}
	#login-page *,
	#register-page *,
	#view-order-page * {text-align: left; float: none;}
	#login-page > div {width: 95%; margin: 0 auto;}
	#login-page > .header-bg {width: 100%;}
	#login-page .tright {text-align: left;}
	#login-page .table1 {}
	#login-page .table1,
	#login-page .table1 thead, 
	#login-page .table1 tbody, 
	#login-page .table1 th,
	#login-page .table1 tr,
	#login-page .table1 td,
	#register-page table, 
	#register-page thead, 
	#register-page tbody, 
	#register-page tr, 
	#register-page th, 
	#register-page td {display: block; width: 100%; padding: 0;}
	#register-page tr:nth-of-type(1) td h2,
	#register-page tr:nth-of-type(7) td h2 {margin: 0 -15px; width: 100%;}
	#login-page .table1 input, 
	#login-page select, 
	#register-page input,
	#register-page select,
	#view-order-page input {width: 98% !important;}
	#login-page .fright.tright.w5 {margin-top: 30px;}
	#login-page label, 
	#register-page label {display: block; margin-top: 10px;}
	#view-order-page .description .fleft {float: left;}
	#view-order-page .description strong {font-weight: 300;}
	#login-page .submit,
	#view-order-page .submit,
	#register-page .submit {text-align: center;}
	
	/* promo pages - clearance, new, hot deals, s/d */
	.homepage-promo li .type-C, 
	.homepage-promo li .type-S, 
	.homepage-promo li .type-N, 
	.homepage-promo li .type- {display: none;}
	#promo-page .info-bar td:nth-of-type(1) {padding: 1% 4%;}
	#promo-page ul.homepage-promo li {height: auto; overflow: hidden; border-bottom: 1px solid #ccc; background: none; margin: 0; width: auto; display: block; float: none; text-align: left;}
	#promo-page ul.homepage-promo li .image {float: left; margin-right: 10px; height: 125px; width: 125px;}
	#promo-page ul.homepage-promo li .image a img {height: 125px !important; width: 125px !important;}
	
	/* review */
	#review-page #topbar-left,
	#review-page #review-preview,
	#review-page .attribute-bar,
	#review-page #product-image,
	#review-page .header-bg {display: none !important;}
	#review-page .attributes p {width: 95%; margin: 0 auto;}
	#review-page .attributes p:last-child {margin-bottom: 15px;}
	#review-page #wide-col .innertube {padding: 0;}
	#review-page #review-list div {margin: 5px;}
	#review-page #review-list p, 
	#review-page #wide-col .innertube p,
	#review-page #wide-col .innertube ol, 
	#review-page #review-list #value-rating, 
	#review-page #review-list #feature-rating  {float: none; width: 95%; margin: 5px auto;}
	#review-page #review-list #review-title input,
	#review-page #review-list #review-description textarea {width: 95% !important;} 
	#review-page #review-submit {text-align: left; width: 95%; margin: 0 auto;}
	#review-page #wide-col {margin-top: 10px;}
	#review-page div#review-header {float: none; width: 100%; margin: 0;}
	
	#review-page .products-to-review h2 {width: 100%; text-indent: 0;}
	#review-page .products-to-review > ul > li {border-bottom: 1px solid #CCCCCC; display: block; padding: 5%; width: 90%;}
	
	/* help */
	#help-page .innertube {padding: 0;}
	#help-page .innertube > p {padding: 10px 10px 20px 10px;}
	#help-page .innertube > ul#help-index {padding: 10px;}
	#help-page #help-content li {margin: 0;}
	#help-page #help-content li h2 {padding: 10px; margin: 10px 0;}
	#help-page #help-content li > *, 
	#help-page #help-content li#guidelines span > * {margin: 10px;}
	#help-page #help-content li > img,
	#help-page #help-content li p > img {max-width: 100%;}
	#help-page .attribute-bar {margin: 0;}
	#help-page .attributes h2 {margin-bottom: 0;}
	#help-page .attributes p {display: none;}
	#help-page .attributes ul li {list-style-image: none; list-style-type: none; margin: 0; padding: 0;}
	
	/* contact */
	#contact-page #topbar-right,
	#contact-page .attribute-bar {display: none;}
	#contact-page #wide-col {padding: 10px;}
	#contact-page #wide-col div {text-align: center;}
	#contact-page #wide-col p,
	#contact-page #wide-col ul {text-align: left;}
	#contact-page #wide-col h2 {margin-left: -11px; margin-top: 10px; width: 101%;}
	
	/* generic forms */
	#form-page .attribute-bar {display: none;}
	#form-page table,
	#form-page thead,
	#form-page tbody,
	#form-page tr,
	#form-page th,
	#form-page td {display: block;}
	
	/* promo pages - clearance, sale, etc */
	#promo-page .promo-categories {display: none;}
	#promo-page #promo-menu {margin-bottom: 10px;}
	#promo-page #promo-menu li a {padding-left: 30px; color: #B4B4B4; text-indent: 0; text-decoration: none;}
	#promo-page #promo-menu li a.active {padding-left: 10px; color: #444; background-color: #eee;}
	
	body div#popupMask,
	body div#popupContainer {visibility: hidden;}
	
	.checkout-button {width: 95%;}
	
	/* raspberry pi page */
	#rpiintro,
    #rasppiWrapper #help-page, 
    #rasppioperatingsystemscontent {display: none;}
    #rasppiWrapper .intro .decide {width: 100%; background-size: 100%; max-width: 350px; float: none; margin: 0 auto;}
    #rasppiWrapper .result-list li {width: 96%; border-right: 0; height: auto;}
    #rasppiWrapper ul.result-list li .title {min-height: inherit; margin-bottom: 5px;}
    #products4to13 ul li .list-price {top: -10px !important;}
    #rasppiWrapper .rasppiaccessorytitlebar {padding: 10px 5px; border-top: 1px solid #1C3E5E; border-bottom: 1px solid #1C3E5E; background-image: none; background-color: #e6edf4;}
    #rasppiWrapper .backtotoplink {display: none;}
    #products4to13 ul li .image a {height: 150px !important; -o-background-size: contain !important; -moz-background-size: contain !important; -webkit-background-size: contain !important; background-size: contain !important;}
    #default-page #shop-pi a {position: relative !important; top: auto !important; right: auto !important;}
    
    /* Finder Pages */
    #container .partfinder-page {padding: 2%; width: 96%;}
    .partfinder-page #default-finder {background: #fff; padding: 0;}
    .partfinder-page #default-finder h1,
    .partfinder-page #model-heading h1 {background: transparent !important; border: 0; font-size: 20px; padding: 0;}
    .partfinder-page #default-finder h1 {font-size: 28px;}
    .partfinder-page h1 span {font-size: .7em;}
    .partfinder-page #default-finder p {width: 100%;}
    .partfinder-page .attribute-bar,
    .partfinder-page #model-image,
    .partfinder-page #ModelOtherSection,
    .partfinder-page .result-list .buy {display: none;}
    .partfinder-page.sections li {float: none; width: 100%;}
    .partfinder-page.sections #model-heading #model-image {display: block; float: none; width: 100%;}
    
    
}

@media all and (min-width: 459px) and (max-width: 612px) 
{
   #product-page ul.homepage-promo, #product-page .inactive ul.homepage-promo, #basket-page ul.homepage-promo {width: 459px;} 
}

@media all and (min-width: 306px) and (max-width: 459px) 
{
   #product-page ul.homepage-promo, #product-page .inactive ul.homepage-promo, #basket-page ul.homepage-promo {width: 306px;} 
}

@media all and (min-width: 153px) and (max-width: 306px) 
{
   #product-page ul.homepage-promo, #product-page .inactive ul.homepage-promo, #basket-page ul.homepage-promo {width: 153px;} 
}

@media all and (max-width: 400px) 
{
   #product-page .comment-content div.fleft {font-weight: 600; clear: left; margin-left: 0 !important;}
}

@media all and (min-width: 768px)
{
    #footer .full-site {display: none;}
}

@media all and (max-width: 1350px)
{
    #ss {display: none;}
}

/* iphone 4 styles */
@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
	ul#catalog-menu li a,
	ul#catalog-menu-small li ul li a, 
	ul#catalog-menu li a:hover,
	ul#catalog-menu-small li ul li a:hover,
	ul#catalog-menu li.hover a,
	ul#catalog-menu-small li ul li.hover a,
	.body .mini-promo a:hover, 
	#catalog-menu-small li ul li a {background-image: url("/images/mobile/arrow-2x.png"); background-position: center right; background-size: 16px 16px;}
	#supp-nav #supp-account ul li:nth-of-type(4) a {background-position: 0px -64px;}	
	#footer .global-copyright #pf-logo {background-position:  0px -103px;}
	#supp-nav h2 a {background-position: 0 -16px;}
	#supp-nav #supp-search input#suppSearchBoxSubmit {background-position: -59px -75px;}
	
	#supp-nav #supp-account ul li:nth-of-type(4) a, 
	#footer .global-copyright #pf-logo, 
	#supp-nav h2 a, 
	#supp-nav #supp-search input#suppSearchBoxSubmit {background-image: url("/images/mobile/mobile-sprite-20120502.png"); background-size: 76px 122px;}
}